@import '../../fonts';
.gallery-inner{
  //uncomment below to keep image background in content area
  //position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display:flex;
  justify-content: center;
  flex-direction: column;
}

.gallery-button{
  width:40px;
  height:40px;
  cursor:pointer;
  position: absolute;
  display:flex;
  justify-content: center;
  div{
    color:#ffffff;
    font-size: 2em;
    display: block;
    align-self: center;
  }
  &.left{
    align-self: flex-start;
  }
  &.right{
    align-self: flex-end;
  }
  :hover{
    color:#990000;
  }
  &.inactive{
    cursor:default;
    opacity: 0.5;
    :hover{
      color: #ffffff;
    }
  }

}
