/* width / height */
$headerHeight: 100px;
$footerHeight: 50px;
$contentMinHeight: 480px;

/* padding / margin */
$navigationPadding: 10px;
$contentPadding: 10px;

/* colors */
$dusty: rgb(150,133,143);
$lavender: rgb(109,121,147);
$lavender-light: rgba(109,121,147,0.5);
$overcast: rgb(144,153,162);
$overcast-light: rgba(144,153,162,0.5);
$paper: rgb(213,213,213);
$snow: rgb(255,255,255);

/* tags */
a{
	border-style:none;
	outline:0;
	text-decoration: none;
	&:active{
		outline:none;
	}
	&:focus{
		outline:none;
	}
}

/* alignments */
.vertical-center{
  width:100%;
  height:100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.absolute-center{
  width:100%;
  height:100%;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
