@import '/global';
#root{
  width:100%;
  height:100%;
}

.container{
  width:100%;
  height:100%;
  display:flex;
  flex-direction: column;
}

main{
  display:flex !important;
  flex: 1 0 auto;
}

.page{
  flex-grow: 1;
  background-size: cover;
  background-position: center center;
  .page-inner{
    width:100%;
    height:100%;
    padding: $contentPadding;
  }
}

h1, h2, h3, h4, h5, h6{
  color: $dusty;
}
p{
  color: $snow;
}
