$transitionTime: 1s;
$transitionEasing: ease-in-out;
.page-transition-enter {
  transition: opacity $transitionTime $transitionEasing;
  opacity: 0;
}
.page-transition-enter.page-transition-enter-active {
  opacity: 1;
}
.page-transition-exit {
  transition: opacity $transitionTime $transitionEasing;
  opacity: 1;
}
.page-transition-exit.page-transition-exit-active {
  opacity: 0;
}
